---
import Layout from "@layouts/Layout.astro";
import Grid from "@components/About/Grid.astro";
---

<Layout title="About" description="About - Mussic" image="">
  <main>
    <article>
      <section>
        <Grid
          title="Music"
          subtitle="About"
          images={[
            {
              src: "/src/assets/images/about/music/SeventhHeaven.jpg",
              alt: "SeventhHeaven",
              href: "https://music.youtube.com/playlist?list=OLAK5uy_kl6iAyXO6mMcKOBIv08_5s5ztAYu0Yrm4&si=gJ4FasdBPnntYn5f",
            },
            {
              src: "/src/assets/images/about/music/ScienceFiction.jpg",
              alt: "ScienceFiction",
              href: "https://music.youtube.com/playlist?list=OLAK5uy_lSvYpXdWmt_pY8LHsef1CTMx9Qp28Abfc&si=i5eXwGj17IfQWMGj",
            },
            {
              src: "/src/assets/images/about/music/Chronostasis.jpg",
              alt: "Chronostasis",
              href: "https://music.youtube.com/playlist?list=OLAK5uy_luheEYQya6cqGhnUAXbw0zlHHVYe0FTBM&si=AKiyhrJ1P8mXW0Ml",
            },
            {
              src: "/src/assets/images/about/music/BlueLimbo.jpg",
              alt: "BlueLimbo",
              href: "https://music.youtube.com/playlist?list=PL8CCAB8BAB74DFBFB&si=Av8WvV1OtersZ3ua",
            },
            {
              src: "/src/assets/images/about/music/Siren.jpg",
              alt: "Siren",
              href: "https://music.youtube.com/playlist?list=OLAK5uy_khAIvHnXFRpdh7_6MtdQ0od0pkT7ilnng&si=JygnV-8iIEHTVjKj",
            },
            {
              src: "/src/assets/images/about/music/SimCity.png",
              alt: "SimCity",
              href: "https://music.youtube.com/watch?v=7LB6UgC51no&si=G6QDt9wCeKFplVJD",
            },
            {
              src: "/src/assets/images/about/music/KaiKai.jpg",
              alt: "Kai=Kai",
              href: "https://music.youtube.com/playlist?list=PLxFqPkoG1qY883o1uw_vZPgoY2fCzEDto&si=XQpTOFnf9bzWuSZ6",
            },
            {
              src: "/src/assets/images/about/music/Eyes.jpg",
              alt: "Eyes",
              href: "https://music.youtube.com/playlist?list=OLAK5uy_k1n0LPxoa_RzPxsam3qovaq556KBPRbq0&si=AIyz1Zk9x5KI9q-y",
            },
          ]}
        />
      </section>
    </article>
  </main>
  <footer slot="footer"></footer>
</Layout>
