@font-face {
  font-family: Archoblast;
  font-feature-settings: "ss02" 1;
  font-weight: normal;
  font-style: normal;

  font-display: block;
  src: url("/fonts/Archoblast.woff2") format("woff2");
}

@font-face {
  font-family: Blaster;
  font-weight: normal;
  font-style: normal;

  font-display: swap;
  src: url("/fonts/subset-BlasterDisplayFont-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Mica Valo";
  font-weight: normal;
  font-style: normal;

  font-display: swap;
  src: url("/fonts/subset-MicaValo.woff2") format("woff2");
}

@font-face {
  font-family: "Atkinson Hyperlegible Next";
  font-weight: bold;
  font-style: normal;

  font-display: swap;
  src: url("/fonts/subset-AtkinsonHyperlegibleNext-ExtraBold.woff2")
    format("woff2");
}

@font-face {
  font-family: "Atkinson Hyperlegible Next";
  font-weight: bold;
  font-style: italic;

  font-display: swap;
  src: url("/fonts/subset-AtkinsonHyperlegibleNext-BoldItalic.woff2")
    format("woff2");
}

@font-face {
  font-family: "Atkinson Hyperlegible Next";
  font-weight: bold;
  font-style: normal;

  font-display: swap;
  src: url("/fonts/subset-AtkinsonHyperlegibleNext-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Atkinson Hyperlegible Next";
  font-weight: bold;
  font-style: italic;

  font-display: swap;
  src: url("/fonts/subset-AtkinsonHyperlegibleNext-ExtraBoldItalic.woff2")
    format("woff2");
}

@font-face {
  font-family: "Atkinson Hyperlegible Next";
  font-weight: 200;
  font-style: italic;

  font-display: swap;
  src: url("/fonts/subset-AtkinsonHyperlegibleNext-ExtraLightItalic.woff2")
    format("woff2");
}

@font-face {
  font-family: "Atkinson Hyperlegible Next";
  font-weight: 500;
  font-style: normal;

  font-display: swap;
  src: url("/fonts/subset-AtkinsonHyperlegibleNext-Medium.woff2")
    format("woff2");
}

@font-face {
  font-family: "Atkinson Hyperlegible Next";
  font-weight: 300;
  font-style: normal;

  font-display: swap;
  src: url("/fonts/subset-AtkinsonHyperlegibleNext-Light.woff2") format("woff2");
}

@font-face {
  font-family: "Atkinson Hyperlegible Next";
  font-weight: 200;
  font-style: normal;

  font-display: swap;
  src: url("/fonts/subset-AtkinsonHyperlegibleNext-ExtraLight.woff2")
    format("woff2");
}

@font-face {
  font-family: "Atkinson Hyperlegible Next";
  font-weight: 300;
  font-style: italic;

  font-display: swap;
  src: url("/fonts/subset-AtkinsonHyperlegibleNext-LightItalic.woff2")
    format("woff2");
}

@font-face {
  font-family: "Atkinson Hyperlegible Next";
  font-weight: normal;
  font-style: normal;

  font-display: swap;
  src: url("/fonts/subset-AtkinsonHyperlegibleNext-Regular.woff2")
    format("woff2");
}

@font-face {
  font-family: "Atkinson Hyperlegible Next";
  font-weight: normal;
  font-style: italic;

  font-display: swap;
  src: url("/fonts/subset-AtkinsonHyperlegibleNext-RegularItalic.woff2")
    format("woff2");
}

@font-face {
  font-family: "Atkinson Hyperlegible Next";
  font-weight: 600;
  font-style: normal;

  font-display: swap;
  src: url("/fonts/subset-AtkinsonHyperlegibleNext-SemiBold.woff2")
    format("woff2");
}

@font-face {
  font-family: "Atkinson Hyperlegible Next";
  font-weight: 500;
  font-style: italic;

  font-display: swap;
  src: url("/fonts/subset-AtkinsonHyperlegibleNext-MediumItalic.woff2")
    format("woff2");
}

@font-face {
  font-family: "Atkinson Hyperlegible Next";
  font-weight: 600;
  font-style: italic;

  font-display: swap;
  src: url("/fonts/subset-AtkinsonHyperlegibleNext-SemiBoldItalic.woff2")
    format("woff2");
}
