/* All css that dosen't belong in other files AND is global in nature */

@charset 'utf-8';

@use "./reset";
@use "./fonts";
@use "./themes/default";
@use "./themes/reverse";
@use "./themes/brue";
@use "./themes/rose";
@use "./typography";

:root {
  scroll-behavior: smooth;
  scrollbar-width: thin;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;

  color-scheme: dark;
  accent-color: var(--accent-700);
  caret-color: var(--accent-700);

  caret-shape: bar;

  ::selection {
    color: var(--background-950);
    background-color: var(--accent-700);
  }
}

body {
  margin: 0;
  padding: 0.02px;
  color: var(--text-900);
  background-color: var(--background-50);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block: 0.5rem;
  color: var(--accent-900);
}

section {
  margin: clamp(1rem, 5vw, 4rem) 0;

  // padding-block: clamp(1rem, 3vw, 10rem);
}

:focus-visible {
  outline: 2px solid var(--accent-700);
  outline-offset: 2px;
}

/* Show content to Screen Reader only */
.sr-only:not(:focus, :active) {
  position: absolute;

  overflow: hidden;

  width: 1px;
  height: 1px;

  white-space: nowrap;

  clip-path: rect(0 0 0 0);
  clip-path: inset(50%);
}

/* Reduce motion if user prefers it */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    scroll-behavior: auto !important;
    transition-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
  }
}
