/*
This file should only contain styles that affect text, in terms of the font family, font size, style, weight, features, etc.
Do not change visual elements on fonts such as padding, margin or background.
*/

/* Fallbacks */
$sans:
  "Inter",
  "SF Pro Display",
  -apple-system,
  blinkmacsystemfont,
  "Segoe UI",
  roboto,
  "Helvetica Neue",
  arial,
  sans-serif;
$serif: "Playfair Display", "Times New Roman", times, georgia, serif;
$mono: "Fira Code", "SF Mono", monaco, "Cascadia Code", consolas, monospace;

:root {
  /* Font Stacks */
  --font-body: Conso, #{$serif};
  --font-title: Mica Valo, #{$serif};
  --font-fancy: Archoblast, #{$sans};
  --font-mono: Iosevka Etiole, #{$mono};

  /* Font Sizes */
  --fs-300: clamp(0.75rem, 0.5vw + 0.5rem, 1rem);
  --fs-400: clamp(1rem, 0.75vw + 0.75rem, 1.25rem);
  --fs-500: clamp(1.25rem, 1vw + 1rem, 1.5rem);
  --fs-600: clamp(1.5rem, 1.25vw + 1.25rem, 2rem);
  --fs-700: clamp(2rem, 1.5vw + 1.5rem, 2.5rem);
  --fs-800: clamp(2.5rem, 1.75vw + 1.75rem, 3rem);
  --fs-900: clamp(3rem, 2vw + 2rem, 3.5rem);
}

body {
  font-family: var(--font-body);
  font-size: clamp(0.875rem, 0.5vw + 0.5rem, 1.25rem);
  line-height: calc(1em + 0.7rem);
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  break-after: avoid;
  font-family: var(--font-title);
  font-weight: 900;
  line-height: 1.1;
}

h1 {
  font-size: var(--fs-900);
}

h2 {
  font-size: var(--fs-800);
}

h3 {
  font-size: var(--fs-700);
}

h4 {
  font-size: var(--fs-600);
}

h5 {
  font-size: var(--fs-500);
}

h6 {
  font-size: var(--fs-400);
}
