#comments {
  max-width: 60%;
  margin: auto;
  padding: 15px;
}

button,
input[type="submit"],
.comment__submit {
  cursor: pointer;

  padding: 6px 16px;
  border: 1px dashed var(--accent-500);
  border-radius: 6px;

  font-size: 14px;
  font-weight: 600;
  color: var(--accent-500);

  background: transparent;
}

button:hover,
.comment__submit:hover {
  color: var(--text-100);
  background-color: var(--background-500);
}

button:disabled {
  cursor: default;
  opacity: 0.6;
}

.comment {
  margin: 10px 0 auto 1rem;
  padding: 10px;
  border: 1px dashed var(--accent-500);
  border-radius: 4px;
}

.comment--reply {
  margin-left: 20px;
}

.comment__header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

.comment__username {
  margin: 0;
  font-weight: 600;
  text-decoration: underline;
}

.comment__time {
  justify-self: center;
  font-size: 0.85em;
  text-align: center;
  opacity: 0.6;
}

.comment__website {
  justify-self: end;
  text-align: right;
}

.comment__content {
  margin-top: 10px;
  text-align: justify;

  // word-break: break-word;
  white-space: pre-wrap;
}

.comment__footer {
  margin-top: 10px;
}

.comment__reply {
  cursor: pointer;
  color: var(--accent-500);
  text-decoration: none;

  &:hover {
    color: var(--accent-300);
    text-decoration: underline;
  }
}

#comment-form {
  margin: 20px auto;
  padding: 10px;
  border: 1px dashed var(--accent-500);
  border-radius: 5px;

  background-color: var(--background-200);

  label {
    display: block;
  }
}

.comment-form__title {
  margin: 0;
  padding-bottom: 1rem;
  color: var(--text-800);
  text-decoration: underline wavy;
}

.comment-form__field {
  margin: 5px 0;
}

.comment-form__input {
  width: 80%;
  padding: 4px;
  border: 1px solid var(--accent-500);
  border-radius: 4px;

  background-color: var(--primary-100);

  &:focus {
    border-color: var(--accent-700);
    outline: none;
  }
}
