---
import Nekostats from "@components/Main/Nekostats.astro";
import LastFM from "@components/Main/LastFM.astro";
import GitCommits from "@components/Main/GitCommits.astro";
---

<section class="widgets">
  <h2 id="widgets-title" class="sr-only">
    Widgets with Additional Information
  </h2>
  <article>
    <Nekostats />
  </article>
  <article>
    <LastFM />
  </article>
  <article>
    <GitCommits />
  </article>
</section>

<style>
  .widgets {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

    margin-block: 0;
    border-block: 0.2rem dotted var(--accent-200);

    text-align: center;

    background: radial-gradient(var(--secondary-50), var(--secondary-100));
  }
</style>
