---
import Layout from "@layouts/Layout.astro";
import Grid from "@components/About/Grid.astro";
---

<Layout title="About" description="About - Games" image="">
  <main>
    <article>
      <section>
        <Grid
          title="Games"
          subtitle="About"
          images={[
            {
              src: "/src/assets/images/about/games/17158d37a75693dd0cc4cd25f2647140.jpg",
              alt: "Fate/Grand Order",
              position: "top",
            },
            {
              src: "/src/assets/images/about/games/img0064.jpg",
              alt: "Fate/Extra Games",
              position: "top",
            },
            {
              src: "/src/assets/images/about/games/si.png",
              alt: "Black Souls",
              style: "",
            },
            {
              src: "/src/assets/images/about/games/da8911dbb798f58f78fa7e817b735541.gif",
              alt: "Genshin Impact",
              position: "top",
            },
            {
              src: "/src/assets/images/about/games/ng_logo.png",
              alt: "Newgrounds Porn Games maybe",
              position: "top",
            },
            {
              src: "/src/assets/images/about/games/5f4baa5129c2b8014b47682925ef11e7.png",
              alt: "Narcissu",
              position: "top",
            },
            {
              src: "/src/assets/images/about/games/mahjong soul.jpg",
              alt: "Majhong Soul",
            },
            {
              src: "/src/assets/images/about/games/MV5BMzZmZjc5YWItYWRmMy00MzE2LWE2M2YtNmUyMjg3MTc4YWY2XkEyXkFqcGc@._V1_.jpg",
              alt: "Batman Arkham Series",
              position: "top",
            },
          ]}
        />
      </section>
    </article>
  </main>
  <footer slot="footer"></footer>
</Layout>
