---
import Layout from "@layouts/Layout.astro";
import Grid from "@components/Main/Grid.astro";
import Nekostats from "@components/Main/Nekostats.astro";
import LastFM from "@components/Main/LastFM.astro";
import GitCommits from "@components/Main/GitCommits.astro";
---

<Layout title="lel@NekoWeb" description="Nekosex">
  <Fragment slot="head">
    <link
      rel="preload"
      href="/fonts/Archoblast.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
  </Fragment>
  <main>
    <section class="hero">
      <h1 class="hero-title">Lel@NekoWEB</h1>
    </section>
    <section>
      <section>
        <h2 id="main-grid-title" class="sr-only">Main Grid with Information</h2>
        <Grid />
      </section>

      <section class="widgets">
        <h2 id="widgets-title" class="sr-only">
          Widgets with Additional Information
        </h2>
        <article>
          <Nekostats />
        </article>
        <article>
          <LastFM />
        </article>
        <article>
          <GitCommits />
        </article>
      </section>
    </section>
  </main>
</Layout>

<style lang="scss">
  /* Main Hero */
  main {
    min-height: 100vh;
    margin: 0;
  }

  .hero {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100vh;
    margin: 0;

    background: var(--background-50) center/cover no-repeat fixed
      url("/src/assets/images/background.jpg");
  }

  .hero-title {
    margin: 0;

    font-family: var(--font-fancy);
    font-size: clamp(4rem, 5vw, 6rem);
    color: var(--accent-600);
    text-align: center;
    text-shadow:
      2px 2px var(--primary-800),
      -2px -2px var(--secondary-800);

    mix-blend-mode: color-dodge;
  }

  .widgets {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

    margin-block: 2rem;

    text-align: center;
  }
</style>
