---
import Layout from "@layouts/Layout.astro";
---

<Layout
  ><main>
    <section class="hero">
      <h1 class="hero-title">Lel@NekoWEB</h1>
    </section>
    <section>
      <article>
        <div class="grid">
          <div>
            <h2>Stuff here</h2>

            Div 1
          </div>
          <div>Div 2</div>
          <div>Div 3</div>
          <div>Div 4</div>
        </div>
      </article>
    </section>
  </main>
</Layout>

<style lang="scss">
  @use "sass:list";

  $areas: (a, b, c, d);

  /* Main Hero */
  main {
    min-height: 100vh;
    margin: 0;
  }

  .hero {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100vh;
    margin: 0;

    background: var(--background-50) center/cover no-repeat fixed
      url("/src/assets/images/background.jpg");
  }

  .hero-title {
    margin: 0;

    font-family: var(--font-fancy);
    font-size: clamp(4rem, 15vw, 14rem);
    color: var(--accent-600);
    text-align: center;
    text-shadow:
      2px 2px var(--primary-800),
      -2px -2px var(--secondary-800);

    mix-blend-mode: color-dodge;
  }

  /* Grid */

  .grid {
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: minmax(200px, auto);
    grid-template-areas:
      "a a b"
      "c d d";
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;

    margin: 10em; // TODO: Change to use grid properties for same result

    & > div {
      padding: 1em;
      border-radius: 1rem;
      color: var(--text-100);
      background-color: var(--primary-900);

      // Set grid-areas in order of appearence
      @each $area in $areas {
        $i: list.index($areas, $area);
        &:nth-child(#{$i}) {
          grid-area: #{$area};
        }
      }
    }
  }
</style>
