---
import Layout from "@layouts/Layout.astro";
import Grid from "@components/About/Grid.astro";
---

<Layout title="About" description="About - Mussic" image="">
  <main>
    <article>
      <section>
        <Grid
          title="Evangelion"
          subtitle="Neko Leliel"
          images={[
            {
              src: "/src/assets/images/about/NSFW/img028.png",
              alt: "",
            },
            {
              src: "/src/assets/images/about/NSFW/img030.png",
              alt: "",
            },
            {
              src: "/src/assets/images/about/NSFW/img036.png",
              alt: "",
            },
            {
              src: "/src/assets/images/about/NSFW/img038.png",
              alt: "",
            },
            {
              src: "/src/assets/images/about/NSFW/img040.png",
              alt: "",
            },
            {
              src: "/src/assets/images/about/NSFW/img046.png",
              alt: "",
            },
            {
              src: "/src/assets/images/about/NSFW/img048.png",
              alt: "",
            },
            {
              src: "/src/assets/images/about/NSFW/img056.png",
              alt: "",
            },
          ]}
        >
          <p>I love tits</p>
        </Grid>
      </section>
    </article>
  </main>
</Layout>
