---

---

<!-- Feet :drool: -->
<footer>
  <p>I love feet</p>
</footer>

<style>
  footer {
    margin-block: 5rem 0;
    padding: 2rem 10rem;
    border-block-start: 0.1rem solid var(--accent-200);
    background: linear-gradient(var(--background-50), var(--background-100));
  }
</style>
