<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>
    !!! Your username will automatically be instered here from your subdomain
    using JavaScript!
  </title>
  <link rel="icon" href="https://nekoweb.org/favicon.ico" />
  <script src="@scripts/script.js">
    // This script tag will run script.js as expected before content load
  </script>
</head>
