<table>
  <caption>
    Use Devtools/Inspect Element to explore your favorite site's source code
    aswell,

    <br />
    It's really good for learning!
  </caption>
  <thead>
    <tr>
      <th>HTML</th>
      <th>CSS</th>
      <th>JavaScript</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <p>
          <a target="_blank" href="https://htmlcheatsheet.com/"
            >HTML CheatSheet</a
          >
        </p>
        <p>
          <a href="https://webguide.neocities.org/">Webguide.neocities.org</a>
        </p>
        <p>
          <a href="https://goblin-heart.net/sadgrl/learn/"
            >Sadgrl Webmaster guides</a
          >
        </p>
      </td>
      <td>
        <p>
          <a target="_blank" href="https://css-tricks.com/guides/"
            >CSS-Tricks Guides</a
          >
        </p>
        <p>
          <a target="_blank" href="https://cssreference.io/">cssreference.io</a>
        </p>
        <p>
          <a
            href="https://www.freecodecamp.org/news/the-css-handbook-a-handy-guide-to-css-for-developers-b56695917d11/"
            >FreeCodeCamp CSS Handbook</a
          >
        </p>
      </td>
      <td>
        <p>
          <a target="_blank" href="http://javascript.info/"
            >The Modern JavaScript Tutorial</a
          >
        </p>
        <p>
          <a target="_blank" href="https://theodinproject.com/"
            >The Odin Project</a
          >
        </p>
        <p>
          <a
            href="https://www.reddit.com/r/learnjavascript/comments/zi2tfp/comment/izpbvrj/"
            >This List</a
          >
        </p>
      </td>
    </tr>
  </tbody>
</table>

<style>
  /* Adding CSS in components only makes it affect the content in that component, not outisde */
  table,
  th,
  td {
    margin: auto;
    border: 1px solid black;
  }

  th,
  td {
    padding: 10px;
  }

  td p {
    font-size: 11pt;
    text-align: center;
  }

  caption {
    caption-side: bottom;
    padding: 10px;
    font-weight: bold;
  }
</style>
