---
import Layout from "@layouts/Layout.astro";
import BlogList from "@components/Blogs/BlogList.astro";
---

<Layout title="Blogs" description="I love righting stuff.">
  <main>
    <article>
      <section>
        <div class="title">
          <h1>Blogs</h1>
          <p>List of blogs | I love Righting</p>
        </div>
        <BlogList collectionName="blogs" />
      </section>
    </article>
  </main>
</Layout>

<style>
  .title {
    text-align: center;
  }
</style>
