---
import Layout from "@layouts/Layout.astro";
import Grid from "@components/About/Grid.astro";
---

<Layout title="About" description="About - Anime" image="">
  <main>
    <article>
      <section>
        <Grid
          title="Anime"
          subtitle="About"
          images={[
            {
              src: "/src/assets/images/about/anime/7aedb4509d17fa705bbc62048bdca67d.png",
              alt: "Kara no Kyoukai",
              position: "top",
            },
            {
              src: "/src/assets/images/about/anime/4c3099a51b5f7b6ffc700dd2f2885d10.jpg",
              alt: "Panty & Stocking",
              position: "top",
            },
            {
              src: "/src/assets/images/about/anime/74FzZc5YZ.png",
              alt: "Fate/Stay Night Heaven's feel",
              position: "left",
            },
            {
              src: "/src/assets/images/about/anime/5a467b81f922f2a48d9ae6c0a4e40ca3.jpg",
              alt: "Fate/Zero",
              position: "top",
            },
            {
              src: "/src/assets/images/about/anime/3a4472d9bba9ec88bc90fd6df23dae30.jpg",
              alt: "Steins;Gate",
              position: "top",
            },
            {
              src: "/src/assets/images/about/anime/fa98188a641a3ea68efbe5aba86a5aa4.jpg",
              alt: "Eighty Six",
              position: "top",
            },
            {
              src: "/src/assets/images/about/anime/e71698cada8683342ac60668a47310ab.jpg",
              alt: "CodeGeass",
            },
            {
              src: "/src/assets/images/about/anime/d9ab3382fb7b4d6a80a2b060550d5c08.png",
              alt: "Toaru Franchise",
              position: "top",
            },
          ]}
        />
      </section>
    </article>
  </main>
</Layout>
